Repository Bit-Apps-Pro/_bitapps-plugin-commons: changes, and which lefthook commands are due for each by the changed paths.
All: style-lint, ts-lint, ts-check, test

style-lint:
  run: pnpm lint:css {staged_files}

ts-lint:
  run: pnpm lint

ts-check:
  run: pnpm ts

test:
  run: pnpm test

Create test.txt
  frontend/test.txt
Due: none

chore: done test sync
  frontend/test.txt
Due: none

chore: remove storybook
  .storybook/main.ts
  .storybook/preview.ts
  frontend/stories/Configure.mdx
  frontend/stories/VersionMismatchedNotice.stories.ts
  package.json
Due: ts-lint, ts-check

chore: remove unused deps
  package.json
Due: none

chore: update icon import source
  frontend/components/VersionMismatchedNotice/VersionMismatchedNotice.tsx
Due: ts-lint, ts-check

chore: update plugin sync utils
  frontend/bin/sync-plugin-common-files.mjs
Due: none

chore: remove unnecessary comma
  vite.config.ts
Due: ts-lint, ts-check

chore: added theme utils and app commons
  frontend/resources/css/antd-reset.css
  frontend/resources/css/wp-css-reset.css
  frontend/utils/themeUtils.ts
  frontend/utils/useAppEssentials.ts
  frontend/utils/utils.ts
Due: style-lint, ts-lint, ts-check

chore: update lint
  frontend/resources/css/antd-reset.css
  frontend/resources/css/wp-css-reset.css
Due: style-lint

chore: add identifier in submodule check
  frontend/vite-plugins/vite-plugin-check-submodule-update.ts
Due: ts-lint, ts-check

chore: update fb image import
  frontend/components/FacebookCommunityCard.tsx
  frontend/resources/img/fbCommunity.png
  frontend/resources/img/fbCommunity.webp
Due: ts-lint, ts-check

chore: added layer to wp reset
  frontend/resources/css/wp-css-reset.css
Due: style-lint

chore: update notice of submodule update
  frontend/components/BitappsPluginUtilUpdateNotice.tsx
Due: ts-lint, ts-check

chore: added css layer
  frontend/utils/themeUtils.ts
  frontend/utils/useAppEssentials.ts
Due: ts-lint, ts-check

chore: update eslint rules
  eslint.config.mjs
Due: none

chore: remove pro modules
  frontend/components/ProExistLoader.tsx
  frontend/components/ProLoader.tsx
  frontend/components/SupportPage/SupportPage.tsx
  frontend/components/withPro.tsx
  frontend/utils/isPro.ts
Due: ts-lint, ts-check

chore: rename pro License checker
  frontend/components/License.pro.tsx
Due: ts-lint, ts-check

chore: avoid submodule check in prod
  frontend/vite-plugins/vite-plugin-check-submodule-update.ts
Due: ts-lint, ts-check

fix: lint
  frontend/vite-plugins/vite-plugin-check-submodule-update.ts
Due: ts-lint, ts-check

fix: css conflict
  frontend/utils/themeUtils.ts
Due: ts-lint, ts-check

fix: style conflict issue
  frontend/utils/themeUtils.ts
Due: ts-lint, ts-check

fix: lint
  frontend/utils/themeUtils.ts
Due: ts-lint, ts-check

chore: add common config to common
  configs/eslint-config.mjs
  configs/vite-config.ts
  frontend/bin/sync-plugin-common-files.mjs
Due: ts-lint, ts-check

chore: move config to config folder
  vite.config.ts
Due: ts-lint, ts-check

chore: add tsconfig
  configs/tsconfig.app.json
  configs/tsconfig.node.json
Due: none

chore: move vite plugin to dev-utils
  frontend/vite-plugins/check-submodule-update.ts
  frontend/vite-plugins/vite-plugin-check-submodule-update.ts
Due: ts-lint, ts-check

chore: move eslint config to config folder
  eslint.config.mjs
Due: none

chore: add deps and lint folder
  package.json
Due: none

fix: linting
  tsconfig.app.json
Due: none

chore: update tsconfig
  configs/tsconfig.app.json
Due: none

chore: update eslint rule
  commitlint.config.mjs
  configs/eslint-config.mjs
  configs/vite-config.ts
  frontend/components/BitappsPluginUtilUpdateNotice.tsx
  frontend/components/FacebookCommunityCard.tsx
  frontend/components/License.pro.tsx
  frontend/components/PluginUpdateNotice.tsx
  frontend/components/SupportPage/GiveReview.tsx
  frontend/components/SupportPage/Imporvement.tsx
  frontend/components/SupportPage/SupportLinks.tsx
  frontend/components/SupportPage/SupportPage.tsx
  frontend/components/SupportPage/data/pluginInfoData.ts
  frontend/components/SupportPage/data/useTracking.ts
  frontend/components/SupportPage/data/useTrackingUpdate.ts
  frontend/components/VersionMismatchedNotice/VersionMismatchedNotice.tsx
  frontend/components/VersionMismatchedNotice/useUpdatePlugin.ts
  frontend/utils/useAppEssentials.ts
Due: ts-lint, ts-check

chore: update plugin common sync method
  frontend/bin/sync-plugin-common-files.mjs
Due: none

chore: update git attr for bin files
  .gitattributes
Due: none

chore: update lockfile
  pnpm-lock.yaml
Due: none

chore: update common sync script
  frontend/bin/sync-plugin-common-files.mjs
Due: none

fix: lint
  frontend/bin/sync-plugin-common-files.mjs
Due: none

chore: update eslint rule for prevent import from common and lucide icon
  configs/eslint-config.mjs
Due: none

chore: update pkg name
  package.json
Due: none

chore: update i18n string
  frontend/components/License.pro.tsx
  frontend/components/SupportPage/Imporvement.tsx
  frontend/components/SupportPage/SupportLinks.tsx
Due: ts-lint, ts-check

chore: added i18n rules
  configs/eslint-config.mjs
Due: none

Path conditions:
  style-lint: any of: *.{css,scss}
  ts-lint: any of: *.{js,ts,jsx,tsx}
  ts-check: any of: *.{ts,tsx}
  test: any of: *.test.{js,ts,jsx,tsx}
