Repository Bit-Apps-Pro/_bitapps-plugin-commons: changes, and which lefthook commands are due for each by the changed paths.
All: style-lint, ts-lint, ts-check, test

style-lint:
  run: pnpm lint:css {staged_files}

ts-lint:
  run: pnpm lint

ts-check:
  run: pnpm ts

test:
  run: pnpm test

chore: update commitlint body length to 300
  commitlint.config.mjs
Due: none

chore: update tsconfig node
  configs/tsconfig.node.json
Due: none

chore: deps to avoid eslint err
  package.json
Due: none

chore: updated eslint rule for ts import
  configs/eslint-config.mjs
Due: none

chore: update i18n rules
  configs/eslint-config.mjs
Due: none

feat: enhance support page and add recommended plugins component
  frontend/components/FacebookCommunityCard.tsx
  frontend/components/License.pro.tsx
  frontend/components/PluginUpdateNotice.tsx
  frontend/components/SupportPage/Imporvement.tsx
  frontend/components/SupportPage/RecommendedPlugins.tsx
  frontend/components/SupportPage/SupportLinks.tsx
  frontend/components/SupportPage/SupportPage.tsx
  frontend/components/SupportPage/data/pluginInfoData.ts
  frontend/utils/themeUtils.ts
Due: ts-lint, ts-check

fix: style conflict
  frontend/resources/css/wp-css-reset.css
Due: style-lint

fix: pro plugin updater issue
  backend/pro/src/HTTP/Controllers/PluginUpdateController.php
  backend/pro/src/ProPluginUpdater.php
Due: none

feat: add version comparison utility and update check for plugin versions
  frontend/components/License.pro.tsx
  frontend/components/SupportPage/data/useCheckUpdate.tsx
  frontend/utils/utils.test.ts
  frontend/utils/utils.ts
Due: ts-lint, ts-check, test

feat: add plugin updater check functionality
  backend/pro/src/HTTP/Controllers/PluginUpdateController.php
Due: none

chore: add eslint-plugin-i18next
  package.json
Due: none

feat: implement update check functionality and UI for plugin version management
  frontend/components/FacebookCommunityCard.tsx
  frontend/components/License.pro.tsx
  frontend/components/SupportPage/CheckNewUpdate.tsx
  frontend/components/SupportPage/data/useCheckUpdate.tsx
Due: ts-lint, ts-check

feat: add license validity check and alert for outdated licenses in License component
  frontend/components/License.pro.tsx
  frontend/components/SupportPage/data/useCheckLicenseValidity.tsx
Due: ts-lint, ts-check

feat: integrate LicenseInvalidAlert component for license validity checks
  frontend/components/AllPluginEssentials.tsx
  frontend/components/License.pro.tsx
  frontend/components/LicenseInvalidAlert.pro.tsx
  frontend/components/SupportPage/data/useCheckLicenseValidity.tsx
Due: ts-lint, ts-check

fix: licenseKey params
  frontend/components/SupportPage/data/useCheckLicenseValidity.tsx
Due: ts-lint, ts-check

feat: add namespace updater script
  frontend/bin/sync-plugin-common-files.mjs
Due: none

refactor: improvement config class name
  backend/pro/src/HTTP/Controllers/LicenseController.php
  backend/pro/src/PluginCommonConfig.php
  backend/pro/src/ProPluginUpdater.php
Due: none

fix: class name issue
  backend/pro/src/HTTP/Controllers/PluginUpdateController.php
  backend/pro/src/Services/LicenseService.php
Due: none

chore: added i18n gettext parser
  configs/.gettext-parser.config.cjs
Due: none

chore: run test concurrently
  frontend/utils/utils.test.ts
Due: ts-lint, ts-check, test

fix: update lint
  configs/.gettext-parser.config.cjs
Due: none

fix: update router package reference in vite config
  configs/vite-config.ts
Due: ts-lint, ts-check

fix: update plugin CSS URL handling in themeUtils
  frontend/utils/themeUtils.ts
Due: ts-lint, ts-check

fix: remove conditional rendering for License component in SupportPage
  frontend/components/SupportPage/SupportPage.tsx
Due: ts-lint, ts-check

fix: add internationalization for 'About' title in SupportPage
  frontend/components/SupportPage/SupportPage.tsx
Due: ts-lint, ts-check

chore: disable post merge
  lefthook.yml
Due: none

fix: ignore eslint error
  frontend/bin/sync-plugin-common-files.mjs
Due: none

chore: update eslint for show console error
  configs/eslint-config.mjs
Due: none

fix: update class prefix methods for improved vendor compatibility in LicenseController and LicenseService
  backend/pro/src/HTTP/Controllers/LicenseController.php
  backend/pro/src/PluginCommonConfig.php
  backend/pro/src/Services/LicenseService.php
Due: none

chore: update eslint rule
  configs/eslint-config.mjs
Due: none

chore: enhance eslint configuration with additional sorting and react hooks rules
  configs/eslint-config.mjs
Due: none

chore: update license notice
  frontend/components/License.pro.tsx
  frontend/components/LicenseActivationNotice.pro.tsx
  frontend/components/LicenseInvalidAlert.pro.tsx
Due: ts-lint, ts-check

chore: update react router
  frontend/components/LicenseInvalidAlert.pro.tsx
  package.json
  pnpm-lock.yaml
Due: ts-lint, ts-check

chore: add i18nwarp
  configs/eslint-config.mjs
  frontend/components/BitappsPluginUtilUpdateNotice.tsx
  frontend/components/FacebookCommunityCard.tsx
  frontend/components/PluginUpdateNotice.tsx
  frontend/components/SupportPage/GiveReview.tsx
  frontend/components/SupportPage/RecommendedPlugins.tsx
Due: ts-lint, ts-check

chore: remove wrapper:
  frontend/components/BitappsPluginUtilUpdateNotice.tsx
Due: ts-lint, ts-check

chore: error to warn
  configs/eslint-config.mjs
Due: none

chore: ignore no-literal-string
  frontend/components/BitappsPluginUtilUpdateNotice.tsx
Due: ts-lint, ts-check

chore: update give review
  frontend/components/SupportPage/GiveReview.tsx
Due: ts-lint, ts-check

chore: add config site url
  frontend/components/SupportPage/data/useCheckLicenseValidity.tsx
Due: ts-lint, ts-check

chore: update i18n rule for attrs translate
  configs/eslint-config.mjs
Due: none

Path conditions:
  style-lint: any of: *.{css,scss}
  ts-lint: any of: *.{js,ts,jsx,tsx}
  ts-check: any of: *.{ts,tsx}
  test: any of: *.test.{js,ts,jsx,tsx}
