Repository Bit-Apps-Pro/_bitapps-plugin-commons: changes, and which lefthook commands are due for each by the changed paths.
All: style-lint, ts-lint, ts-check, test

style-lint:
  run: pnpm lint:css {staged_files}

ts-lint:
  run: pnpm lint

ts-check:
  run: pnpm ts

test:
  run: pnpm test

chore: phpcs lint issue
  backend/pro/src/HTTP/Controllers/LicenseController.php
  backend/pro/src/HTTP/Controllers/PluginUpdateController.php
  backend/pro/src/PluginCommonConfig.php
  backend/pro/src/ProPluginUpdater.php
  backend/pro/src/Services/LicenseService.php
Due: none

fix: phpcs lint issue
  backend/pro/src/HTTP/Controllers/LicenseController.php
  backend/pro/src/HTTP/Controllers/PluginUpdateController.php
  backend/pro/src/Services/LicenseService.php
Due: none

fix: phpcs lint issue
  backend/pro/src/ProPluginUpdater.php
Due: none

chore: remove unnecessary blank lines in controller and service files
  backend/pro/src/HTTP/Controllers/LicenseController.php
  backend/pro/src/HTTP/Controllers/PluginUpdateController.php
  backend/pro/src/PluginCommonConfig.php
  backend/pro/src/Services/LicenseService.php
Due: none

fix: simplify proPluginVersion check in PluginUpdateNotice component
  frontend/components/PluginUpdateNotice.tsx
Due: ts-lint, ts-check

fix: ant design tree view indentation issue
  frontend/resources/css/wp-css-reset.css
Due: style-lint

fix: update @ant-design/icons dependency to version 5.6.1
  package.json
Due: none

fix: remove cypress plugin from ESLint configuration and types
  configs/eslint-config.mjs
  configs/tsconfig.app.json
  package.json
Due: none

fix: set min-height to 0 for search input in CSS reset
  frontend/resources/css/wp-css-reset.css
Due: style-lint

fix: restore prettier plugin in ESLint configuration
  configs/eslint-config.mjs
Due: none

fix: Override conflicting third-party CSS in admin menu and hide screen meta links
  frontend/resources/css/wp-css-reset.css
Due: style-lint

fix: update ESLint configuration and remove wp reset css from layer
  configs/eslint-config.mjs
  frontend/resources/css/wp-css-reset.css
Due: style-lint

fix: replace prettier plugin with eslint-config-prettier and update ESLint rules
  configs/eslint-config.mjs
  package.json
Due: none

fix: phpcs issue
  backend/pro/src/HTTP/Controllers/LicenseController.php
  backend/pro/src/HTTP/Controllers/PluginUpdateController.php
  backend/pro/src/PluginCommonConfig.php
  backend/pro/src/ProPluginUpdater.php
  backend/pro/src/Services/LicenseService.php
Due: none

fix: use backslash for defined() in access prevention checks
  backend/pro/src/HTTP/Controllers/LicenseController.php
  backend/pro/src/HTTP/Controllers/PluginUpdateController.php
  backend/pro/src/PluginCommonConfig.php
  backend/pro/src/ProPluginUpdater.php
  backend/pro/src/Services/LicenseService.php
Due: none

fix: plugin updater issue
  backend/pro/src/HTTP/Controllers/PluginUpdateController.php
Due: none

fix: update i18n imports and add text domain for translation consistency
  configs/eslint-config.mjs
  frontend/components/Changelog/ui/Changelog.tsx
  frontend/components/FacebookCommunityCard.tsx
  frontend/components/License.pro.tsx
  frontend/components/LicenseActivationNotice.pro.tsx
  frontend/components/LicenseInvalidAlert.pro.tsx
  frontend/components/PluginUpdateNotice.tsx
  frontend/components/SupportPage/CheckNewUpdate.tsx
  frontend/components/SupportPage/GiveReview.tsx
  frontend/components/SupportPage/Imporvement.tsx
  frontend/components/SupportPage/RecommendedPlugins.tsx
  frontend/components/SupportPage/SupportLinks.tsx
  frontend/components/SupportPage/SupportPage.tsx
  frontend/components/SupportPage/data/pluginInfoData.ts
Due: ts-lint, ts-check

fix: add missing i18n imports for translation support in multiple components
  frontend/components/License.pro.tsx
  frontend/components/SupportPage/CheckNewUpdate.tsx
  frontend/components/SupportPage/GiveReview.tsx
  frontend/components/SupportPage/RecommendedPlugins.tsx
Due: ts-lint, ts-check

refactor: code improvement
  backend/pro/src/HTTP/Controllers/PluginUpdateController.php
  backend/pro/src/PluginCommonConfig.php
Due: none

chore: update request endpoints for tracking functionality
  frontend/components/SupportPage/SupportPage.tsx
  frontend/components/SupportPage/data/useTracking.ts
  frontend/components/SupportPage/data/useTrackingUpdate.ts
Due: ts-lint, ts-check

fix: lint issue
  frontend/components/SupportPage/SupportPage.tsx
Due: ts-lint, ts-check

chore: updated plugin commons
  frontend/components/SupportPage/SupportPage.tsx
Due: ts-lint, ts-check

refactor: simplify Devtools component by removing jotai support
  frontend/components/Devtools.tsx
Due: ts-lint, ts-check

fix(updater): initialize free version and tighten requires-free check
  backend/pro/src/ProPluginUpdater.php
Due: none

feat(support): add bit crm to the plugin info registry
  frontend/components/SupportPage/data/pluginInfoData.ts
Due: ts-lint, ts-check

feat(license): let consumers set the license page path
  frontend/components/AllPluginEssentials.tsx
  frontend/components/LicenseInvalidAlert.pro.tsx
Due: ts-lint, ts-check

refactor(license): split license panel into free and pro variants
  frontend/components/License/License.pro.tsx
  frontend/components/License/License.tsx
  frontend/components/License/index.ts
  frontend/components/SupportPage/SupportPage.tsx
Due: ts-lint, ts-check

revert(license): undo the free and pro license variant split
  frontend/components/License.pro.tsx
  frontend/components/License/License.tsx
  frontend/components/License/index.ts
  frontend/components/SupportPage/SupportPage.tsx
Due: ts-lint, ts-check

fix(license): detect the build code name by plugin slug
  frontend/components/License.pro.tsx
Due: ts-lint, ts-check

fix: correct Bit CRM pricing buy link
  frontend/components/SupportPage/data/pluginInfoData.ts
Due: ts-lint, ts-check

fix: adjust media toolbar styles and comment out attachment filters in CSS
  frontend/resources/css/wp-css-reset.css
Due: style-lint

chore: update subproject commit reference in _bitapps-plugin-commons
  frontend/resources/css/wp-css-reset.css
Due: style-lint

fix: update documentation links in pluginInfoData.ts
  frontend/components/SupportPage/data/pluginInfoData.ts
Due: ts-lint, ts-check

fix(updater): pass the update's PHP requirement through to WordPress
  backend/pro/src/ProPluginUpdater.php
Due: none

fix(updater): use the correct $pagenow global so cache clearing works
  backend/pro/src/ProPluginUpdater.php
Due: none

fix(updater): correct swapped sprintf arguments in expiry notice
  backend/pro/src/ProPluginUpdater.php
Due: none

feat: add bit-connect to the plugin info catalog
  frontend/components/SupportPage/data/pluginInfoData.ts
Due: ts-lint, ts-check

feat(support-page): resolve the improvement privacy policy link per plugin
  frontend/components/SupportPage/Imporvement.tsx
  frontend/components/SupportPage/SupportPage.tsx
  frontend/components/SupportPage/data/pluginInfoData.ts
Due: ts-lint, ts-check

feat: implement mobile responsive design for Bit CRM
  frontend/resources/css/wp-css-reset.css
Due: style-lint

Path conditions:
  style-lint: any of: *.{css,scss}
  ts-lint: any of: *.{js,ts,jsx,tsx}
  ts-check: any of: *.{ts,tsx}
  test: any of: *.test.{js,ts,jsx,tsx}
