Repository Bit-Apps-Pro/_bitapps-plugin-commons: changes, and which lefthook commands are due for each by the changed paths.
All: style-lint, ts-lint, ts-check, test

style-lint:
  run: pnpm lint:css {staged_files}

ts-lint:
  run: pnpm lint

ts-check:
  run: pnpm ts

test:
  run: pnpm test

chore: add i18n wrapper
  frontend/components/PluginUpdateNotice.tsx
Due: ts-lint, ts-check

feat: added devtools component that render conditionally
  frontend/components/Devtools.tsx
  package.json
  pnpm-lock.yaml
Due: ts-lint, ts-check

fix: lint
  frontend/utils/themeUtils.ts
Due: ts-lint, ts-check

chore: ignore route tree from lint
  configs/eslint-config.mjs
Due: none

chore: update icon ver
  package.json
Due: none

fix: decrypt license key before sending in license validity check
  frontend/components/SupportPage/data/useCheckLicenseValidity.tsx
Due: ts-lint, ts-check

feat: added new rule for obj prop translate
  commitlint.config.mjs
  configs/eslint-config.mjs
  configs/obj-prop-translate.mjs
  frontend/components/SupportPage/data/pluginInfoData.ts
Due: ts-lint, ts-check

fix: update plugin info data to remove translation for titles and descriptions
  frontend/components/SupportPage/data/pluginInfoData.ts
Due: ts-lint, ts-check

feat: enable update check based on configuration setting
  frontend/components/SupportPage/data/useCheckUpdate.tsx
Due: ts-lint, ts-check

feat: added build code name to license page
  frontend/components/License.pro.tsx
Due: ts-lint, ts-check

chore: added code name in license page
  frontend/components/License.pro.tsx
Due: ts-lint, ts-check

feat: add telemetry visibility toggle to SupportPage component
  frontend/components/SupportPage/SupportPage.tsx
Due: ts-lint, ts-check

feat: make telemetry and cashback visibility optional in SupportPageProps
  frontend/components/SupportPage/SupportPage.tsx
Due: ts-lint, ts-check

chore: added color as global var
  frontend/utils/themeUtils.ts
Due: ts-lint, ts-check

feat: update license key handling to use structured encryption format
  frontend/components/SupportPage/data/useCheckLicenseValidity.tsx
Due: ts-lint, ts-check

feat: new eslint rule for i18n
  configs/eslint-config.mjs
Due: none

fix: showing html error if build missing
  frontend/components/License.pro.tsx
Due: ts-lint, ts-check

chore: update doc link
  frontend/components/SupportPage/data/pluginInfoData.ts
Due: ts-lint, ts-check

chore: remove console
  frontend/components/License.pro.tsx
Due: ts-lint, ts-check

fix: lint issue
  configs/eslint-config.mjs
  frontend/components/License.pro.tsx
Due: ts-lint, ts-check

feat: add Changelog component and integrate with SupportPage
  frontend/components/Changelog/data/useChangelog.ts
  frontend/components/Changelog/index.ts
  frontend/components/Changelog/ui/Changelog.tsx
  frontend/components/Changelog/ui/ChangelogContent.tsx
  frontend/components/Changelog/ui/changelog.module.css
  frontend/components/SupportPage/SupportPage.tsx
  package.json
Due: style-lint, ts-lint, ts-check

chore: remove lucide-react restriction for chunk optimization
  configs/eslint-config.mjs
Due: none

fix: typo of a file
  configs/eslint-config.mjs
  frontend/components/FacebookCommunityCard.tsx
  frontend/components/License.pro.tsx
  frontend/components/LicenseActivationNotice.pro.tsx
  frontend/components/LicenseInvalidAlert.pro.tsx
  frontend/components/PluginUpdateNotice.tsx
  frontend/components/SupportPage/CheckNewUpdate.tsx
  frontend/components/SupportPage/GiveReview.tsx
  frontend/components/SupportPage/Imporvement.tsx
  frontend/components/SupportPage/RecommendedPlugins.tsx
  frontend/components/SupportPage/SupportLinks.tsx
  frontend/components/SupportPage/SupportPage.tsx
  frontend/components/SupportPage/data/pluginInfoData.ts
Due: ts-lint, ts-check

fix: typo of a file
  frontend/components/Changelog/ui/Changelog.tsx
Due: ts-lint, ts-check

fix: effect deps
  frontend/components/SupportPage/data/useCheckLicenseValidity.tsx
Due: ts-lint, ts-check

feat: add multi site license support
  backend/pro/src/HTTP/Controllers/LicenseController.php
  backend/pro/src/Services/LicenseService.php
  frontend/components/SupportPage/data/useCheckLicenseValidity.tsx
Due: ts-lint, ts-check

refactor: improvement license module
  backend/pro/src/HTTP/Controllers/LicenseController.php
  backend/pro/src/ProPluginUpdater.php
  backend/pro/src/Services/LicenseService.php
Due: none

feat: disable activation and deactivation button for multi-site
  frontend/components/License.pro.tsx
Due: ts-lint, ts-check

fix: site base url slash issue
  frontend/components/License.pro.tsx
Due: ts-lint, ts-check

refactor: code improvement
  frontend/components/License.pro.tsx
Due: ts-lint, ts-check

fix: handle trailing slash in site base URL configuration
  frontend/components/License.pro.tsx
Due: ts-lint, ts-check

feat: add perfectionist rules for sorting modules and objects
  configs/eslint-config.mjs
Due: none

fix: typo
  backend/pro/src/ProPluginUpdater.php
Due: none

chore: remove unused var
  backend/pro/src/ProPluginUpdater.php
Due: none

chore: added security exit
  backend/pro/src/HTTP/Controllers/LicenseController.php
  backend/pro/src/HTTP/Controllers/PluginUpdateController.php
  backend/pro/src/PluginCommonConfig.php
  backend/pro/src/ProPluginUpdater.php
  backend/pro/src/Services/LicenseService.php
Due: none

chore: lint fix
  backend/pro/src/HTTP/Controllers/LicenseController.php
  backend/pro/src/HTTP/Controllers/PluginUpdateController.php
  backend/pro/src/ProPluginUpdater.php
Due: none

fix: argument passing warning issue
  backend/pro/src/ProPluginUpdater.php
Due: none

chore: update icons pkg
  frontend/components/BitappsPluginUtilUpdateNotice.tsx
  frontend/components/Changelog/ui/Changelog.tsx
  frontend/components/FacebookCommunityCard.tsx
  frontend/components/License.pro.tsx
  frontend/components/LicenseInvalidAlert.pro.tsx
  frontend/components/SupportPage/CheckNewUpdate.tsx
  frontend/components/SupportPage/GiveReview.tsx
  frontend/components/SupportPage/RecommendedPlugins.tsx
  frontend/components/SupportPage/SupportLinks.tsx
  frontend/components/VersionMismatchedNotice/VersionMismatchedNotice.tsx
  package.json
Due: ts-lint, ts-check

feat: added new eslint rule for icon
  configs/eslint-config.mjs
Due: none

chore: remove unused pkg
  package.json
Due: none

Path conditions:
  style-lint: any of: *.{css,scss}
  ts-lint: any of: *.{js,ts,jsx,tsx}
  ts-check: any of: *.{ts,tsx}
  test: any of: *.test.{js,ts,jsx,tsx}
